@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-intro {
    background: url("../public/intro.jpg");
    background-attachment: fixed;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-service {
    background: url("../public/services.jpg");
    background-attachment: fixed;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-not-convenced {
    background: url("../public/not-convenced.jpg");
    background-attachment: fixed;
    height: 50vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-products {
    background: url("../public/products.jpg");
    background-attachment: fixed;
    height: 70vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-product-intro {
    background: url("../public/product-intro.jpg");
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-contact {
    background: url("../public/contact.jpg");
    background-attachment: fixed;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-earth {
    background: url("../public/earth2.jpg");

    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-code {
    background: #0b2447;
    background-attachment: fixed;

    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
